# Git
.git
.gitignore
.gitattributes

# CI/CD
.github
.gitlab-ci.yml

# IDEs
.idea
.vscode
*.swp
*.swo
*~

# Environment files
.env
.env.*
!.env.example

# Dependencies
/vendor
/node_modules

# Storage & Cache
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*

# Tests
/tests
/.phpunit.cache
phpunit.xml

# Documentation
README.md
CHANGELOG.md
*.md

# Misc
.editorconfig
.php-cs-fixer.cache
.phpunit.result.cache
Thumbs.db
.DS_Store


